.InstructionsListWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}

.InstructionsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Step {
  display: flex;
  gap: 15px;
}

.Circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 50%;
  color: white;
  font-size: 12px;
}
