.Sidebar {
  width: 300px;
  min-width: 300px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  border-right: var(--sidebar-border);
}

.dark .Sidebar {
  border-right: var(--sidebar-border);
}

.SidebarTop {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.Title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.SidebarNav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.SidebarNav img {
  width: 24px;
  height: 24px;
}

.SidebarNav li {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  padding: 5px 10px;
}

.SidebarNav a {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  color: #000000;
  border: 1px solid transparent;
  transition: 0.2s;
}

.Link:hover {
  background-color: #e3f4e6;
  color: #387d3d;
  border: 1px solid #cccccc;
  border-radius: 8px;
  transform: translateX(4px);
}
